*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

body{
    background-color: antiquewhite;
}

.navbar{
    display: flex;
    background-color: #222222;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    gap: 25px;
    box-shadow: 0px 1px 10px #111;
}



.navbar-brand{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
} 



.navbar-nav{
    list-style: none;
    display: flex;
    gap: 20px;
    height: 100%;
}
.nav-item{
    height: 100%;
    line-height: 75px;
}

.nav-link{
    color: white;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
}

.const{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    text-decoration: dotted;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    background-color: white;
    color: #222222;
    border: 2px solid black;
    padding: 10px;
    text-decoration: dotted;
    margin: 30px;
    box-shadow: #111;

}




.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 1%;
    grid-template-rows: auto auto auto;
    row-gap: 1%;
    height: 98vh;
    padding: 25px;
}
.card{
    width: 100%;
    box-shadow: 2px 2px 10px  gray;
    border-radius: 10px;
    position: relative;
    /* overflow: ; */
}

.card > span{
    background-color: orange;
    /* padding: 15px 5px 10px 5px; */
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    /* border-radius: 50%; */
    z-index: 1;
}



.card-body{
    width: 100%;
}

.card > .card-body > img{
    width: 100%;
    height: 100%;
}

.card > .card-footer{
    background-color: #111;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 15px;
    color: white;
    
}
